.btn-menu{
  margin-left: 10px;
  margin-right: 10px;
}
.btn-menuu{
  margin-left: 500px;
}
body {
  background-color: #E6E6FA;
}
.container{
  background-color: #fff;
}
.thumbnail{
  margin-right: 20px;
}